* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-image: url(./large-collection-old-books-wooden-bookshelf-generated-by-artificial-intelligence.jpg);
    background-size: cover;
    background-position: center;
}

header{
    background: hsl(0, 0%, 0%);
}

.navbar,
.dropdown_menu{
    opacity: 100%;
}

.logo{
    font-size: 2rem;
    font-weight: 900;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 900;
}

a:hover{
    color: orange;
}

header {
    position: relative;
    padding: 0 2rem;
}

/* carousel */
.carousel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.carousel .list .item {
    position: absolute;
    inset: 0 0 0 0;
}

.carousel .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .list .item .content {
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

.carousel .list .item .content .author {
    font-weight: bold;
    letter-spacing: 10px;
}

.carousel .list .item .content .title,
.carousel .list .item .content .topic {
    font-weight: bold;
    font-size: 5em;
    line-height: 1.3em;
}

.carousel .list .item .content .topic {
    color: #f1683a;
}

.carousel .list .item .content .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 48px;
    gap: 5px;
    margin-top: 28px;
}

.carousel .list .item .content button {
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}

.carousel .list .item .content button:nth-child(2){
    background-color: transparent;
    color: #eee;
    border: 1px solid #eee;
}

/* thumbnail */
.thumbnail {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 28px;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.thumbnail .item .content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.thumbnail .item .content .title {
    font-weight: bold;
}

/* arrows */
.arrows {
    position: absolute;
    top: 80%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
    z-index: 100;
}

.arrows button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    font-family: monospace;
    color: #fff;
    font-weight: bold;
    font-size: large;
    transition: .5s;
}

.arrows button:hover {
    background-color: #eee;
    color: #555;
}

.carousel .list .item:nth-child(1) {
    z-index: 1;
}

.carousel .list .item:nth-child(1) .author,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .topic,
.carousel .list .item:nth-child(1) .des,
.carousel .list .item:nth-child(1) .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.carousel .list .item:nth-child(1) .title {
    animation-delay: 1.3s;
}

.carousel .list .item:nth-child(1) .topic {
    animation-delay: 1.4s;
}

.carousel .list .item:nth-child(1) .des {
    animation-delay: 1.6s;
}

.carousel .list .item:nth-child(1) .buttons {
    animation-delay: 1.8s;
}

/* effect next click */
.carousel.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
    to {
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}


.carousel.next .thumbnail .item:nth-last-child(1) {
    width: 0;
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

@keyframes showThumbnail {
    to {
        width: 150px;
    }
}

.carousel.next .thumbnail {
    transform: translateX(40px);
    animation: transformThumbnail .5s linear 1 forwards;
}

@keyframes transformThumnail {
    to {
        transform: translateX(0);
    }
}

/* effect prev click */
.carousel.prev .list .item:nth-child(2) {
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage 0.5s linear 1 forwards;
}

@keyframes outImage {
    to {
        width: 150px;
        height: 220px;
        border-radius: 20px;
        left: 50%;
        bottom: 50px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1) {
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
} 

.carousel.prev .list .item:nth-child(2) .author,
.carousel.prev .list .item:nth-child(2) .title,
.carousel.prev .list .item:nth-child(2) .topic,
.carousel.prev .list .item:nth-child(2) .des,
.carousel.prev .list .item:nth-child(2) .buttons {
    animation:  contentOut 1.5s linear 1 forwards;
}

@keyframes contentOut {
    to {
        transform:  translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

.carousel.next .arrows button,
.carousel.prev .arrows button {
    pointer-events: none;
}

/* time */
.time {
    width: 0%;
    height: 5px;
    background-color: #f1683a;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.carousel.next .time,
.carousel.prev .time {
    width: 100%;
    animation: timeRunning 2s linear 1 forwards;
}

@keyframes timeRunning {
    to {
        width: 0;
    }
}

section#home {
    margin-top: 15%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#home p {
    font-size: 1.2rem;
    margin: 10px 20px;
}

.col{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card {
    align-items: center;
    width: 300px;
    height: 330px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 20px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.3s;
}

.card1,
.card2,
.card3,
.card4 {
    background: linear-gradient(#d5A3FF 0%, #77A5F8 100%);
    background-size: cover;
    background-position: center;
}


.card:hover {
    transform: translateY(-10px);
}

h5 {
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 5px #999;
    background: #000;
    border-radius: 20px;
}

.col p {
    color: #fff;
}

.col button{
    width: 100px;
    color: #000;
    font: 20px;
    font-weight: 600;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 5px;
    margin-left: 50px;
    align-items: center;
    margin-top: 5px;
    margin-left: 8px;
}

.col .card1 .explore1{
    margin-top: 12px;
}

.col .card2 .explore2{
    margin-top: 8px;
}

.col .card3 .explore3{
    margin-top: 5px;
}

.col .card3 .explore4{
    margin-top: 8px;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn1 {
    font-size: 2rem;
    margin-left: 41.75%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.action_btn {
    font-size: 0.8rem;
}

.action_btn,
.action_btn1 {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover,
.action_btn1:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active,
.action_btn1:active {
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;   
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}



/* RESPONSIVE DESIGN */
@media(max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    section#home {
        margin-top: 25%;
        margin-bottom: 10%;
    }

    .col{
        display: block;
        width: auto;
        margin-bottom: 300px;
    }

    .action_btn1 {
        margin-top: 80px;
        margin-left: 35%;
    }


}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    section#home {
        margin-top: 55%;
        margin-bottom: 10%;
    }

    .col{
        display: block;
        width: auto;
        margin-bottom: 650px;
    }

    .action_btn1 {
        margin-top: 80px;
        margin-left: 35%;
    }
}

@media screen and (max-width: 678px){
    .carousel .list .item .content {
        padding-right: 0;
    }

    .carousel .list .item .content .title {
        font-size: 30px;
    }

}